VITE_API_URL=http://localhost:8787
VITE_WEB_APP_URL=http://localhost:3000
VITE_MARKETING_APP_URL=http://localhost:3001
VITE_STRIPE_CUSTOMER_PORTAL=https://billing.stripe.com/p/login/...
VITE_GITHUB_INTEGRATION_APP_NAME=asyncstatus-local
VITE_SLACK_INTEGRATION_APP_CLIENT_ID=7617338809142.9250385070657
TZ=UTC
